<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
<link rel="j" href="{{ url_for('static',filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block head %} {% endblock %}
</head>
<body>
<form action="">
    {% for docs in groupings %}
        {% set item = groupings[loop.index] %}
             {% for doc in item %}

                 {% if doc =="children"%}
                     <input type="checkbox" id="{{ item['_id'] }}" name="{{ item['_id'] }}" value="">
                    <label for="{{ item['_id'] }}">
                        {{ item['displayName'] }}
                    </label><br>
                    {% set children = item[doc] %}
                        {% for child in children  %}
                            --  <input type="checkbox" id="{{ child['_id'] }}" name="{{ child['_id'] }}" value="">
                            <label for="{{ child['_id'] }}">
                               {{ child['displayName'] }}
                            </label><br>
                        {% endfor %}
                 {% endif %}
             {% endfor %}

    {% endfor %}

  <input type="submit" value="Submit">
</form>
</body>
</html>